<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Barber HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/gijgo.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/animated-headline.css">
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="/assets/css/themify-icons.css">
	<link rel="stylesheet" href="/assets/css/slick.css">
	<link rel="stylesheet" href="/assets/css/nice-select.css">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!--? Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="index.html"><img src="/assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                   <nav>
                                        <ul id="navigation">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="services.html">Services</a></li>
                                            <li class="active"><a href="portfolio.html">Product</a></li>
                                           <!-- <li><a href="blog.html">Blog</a>
                                                <ul class="submenu">
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="blog_details.html">Blog Details</a></li>
                                                    <li><a href="elements.html">Element</a></li>
                                                </ul>
                                            </li>-->
                                            <li><a href="contact.html">Login</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                    <a href="from.html" class="btn header-btn">became a member</a>
                                </div>
                            </div>
                        </div>   
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>Product</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? Gallery Area Start -->
       <Section>
	   <div class="container"  style="max-width: initial; margin-top: 0px;"> 
			<div class="row">
							<div class="col-md-3" STYLE="background-color:#F5F5F5">
				<div class="sidebar" style="margin-left: 40px"><h4 style="margin-top:40px;margin-bottom: 20px; font-size: 30px">FILTER   </h4> 
          <!----> <div id="shopbypanel" class="collapse"></div> 
          <section class="gender"><h6 STYLE="font-size: 15PX">LOKASI</h6> 
            <div class="buttonSlider"><a href="#" class="prev"> &lt; </a>  
                </label></div>
                <div class="checkbox" STYLE="margin-bottom: 5px"><label><input type="checkbox"><span class="checkbox-material"><span class="check"></span></span>
                   Jabodetabek
                  </label></div>
                <div class="checkbox" STYLE="margin-bottom: 5px"><label><input type="checkbox"><span class="checkbox-material"><span class="check"></span></span>
                    Jakarta
                  </label></div>
                <div class="checkbox" STYLE="margin-bottom: 5px"><label><input type="checkbox"><span class="checkbox-material"><span class="check"></span></span>
                    Jawa Barat
                  </label></div>
                <div class="checkbox" STYLE="margin-bottom: 5px"><label><input type="checkbox"><span class="checkbox-material"><span class="check"></span></span>
                    Banten
                  </label></div>
              <!--   <div class="checkbox" STYLE="margin-bottom: 5px"><label><input type="checkbox"><span class="checkbox-material"><span class="check"></span></span>
                    canvas
                    </label></div> -->
            </section> 
          <span class="line"></span> 
          
          <span class="line"></span> 
           <BR>
              <span class="line"></span> <section class="section size"><h6 STYLE="font-size: 15PX">KATEGORI
 
              </h6> <div class="checkbox"> <BR>
            <label><input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Shampoo
            </label></div><div class="checkbox"><label><input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Conditioner
           </label></div><div class="checkbox"><label><input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> WAX
            </label></div><div class="checkbox"><label><input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Hair Vitamint
            </label></div> <div class="space2"></div>
          <br>
          <br>
          <div style="float: left;margin-left: 0px" class="header-right-btn f-right d-none d-lg-block ml-30">
            <a href="from.html" class="btn header-btn">became a member</a>
          </div>
        
        </section> 
            
           
             <div class="space2"></div> <span class="line"></span></div>
				 </div>
				
			<div class="col-md-9">
<style>
				@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');
 

.container{
  margin-top: 50px;
}

h1, .card-title, a, #toast{
  font-family: 'Roboto', sans-serif;
}

h1{
  color: #5C7CFA;
}

.card{
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
  border-radius: 15px;
  transition: transform .2s;
}

.card-body{
  padding: 10px;
  margin-top: -50px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease-in-out;
}

.heart{
  color: #989898;
  margin-top: 15px;
  margin-left: 230px;
  font-size: 30px;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  padding: 0px;
  text-align: center;
  cursor: pointer;
}

.heart-active{
  color: #C50707;
}

.heart:hover{
  color: red;
  background-color: #f9f9f9;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease-in-out;
}

.card-body a{
  visibility: hidden;
}

.card:hover > .card-body{
  margin-top: -0px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.card:hover{
  transform: scale(1.02);
}

.card:hover > .card-body > a{
  visibility: visible;
}

.first-image{
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.cart, .wish{
  padding: 5px;
  width: 50px;
  height: 50px;
  margin-left: -24px;
  margin-top: 0px;
  margin-right: 3px;
  background-color: #fff;
  color: #5C7CFA;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  -ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wish{
  color: #C50707;
}

#toast, #toast-cart{
  padding: 10px;
  padding-left: 5px;
  position: fixed;
  width: 230px;
  height: 50px;
  top: 0;
  left: 80%;
  transform:translate(-50%);
  background-color: #EFF2FF;
  color: #76777E;
  padding: 1px;
  border-radius: 8px;
  text-align:center;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  visibility: hidden;
  opacity: 0;
  -ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
#toast.show, #toast-cart.show{
  visibility:visible;
  animation:fadeInOut 3s;
}

@keyframes fadeInOut{
  5%,95%{opacity:1;top:50px}
  15%,85%{opacity:1;top:30px}
}

a{
  z-index: -1;
}
				</style>
				
				 <div id="toast"></div>
<div id="toast-cart"></div>
<div class="container">
   
  <div class="row">
  <div class="col-lg-4">
    <div class="card">
      
  <img src="https://images.unsplash.com/photo-1565208565380-02138793c3b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="first-image">
  <div class="card-body">
  <a href="#" style="color:black" onclick="addCart()">
    <center>View More</center>
  </a>
  <hr>
   
	 
      <h5 style="font-size:18px; text-align:left; margin-left:15px; margin-bottom:10px" class="card-title"><b>NUTRI CARE SHAMPOO</b> <B style="background:GREEN; Color:white ;border-radius:10%;padding-left:10px; 
            padding-right:10px; padding-top: 5px; padding-bottom: 5px;">new</B></h5>
	  <p style="font-size:12px; text-align:left; margin-left:15px; line-height:18px; margin-bottom:0px">SHAMPOO CATEGORY </p>
	  <p style="font-size:12px; text-align:left; margin-left:15px; line-height:18px;margin-bottom:0px"><span>&#10024;</span>
<span>&#10024;</span>
<span>&#10024;</span>
</p>

<p style="font-size:12px; text-align:left; margin-left:15px;">STOCK <Br> <B style="background:red;color:white;border-radius:100%;padding-left:10px; 
  padding-right:10px; padding-top: 5px; padding-bottom: 5px;">3</B></p>
    </center>

    <b style="background-color: #11E95B; padding: 10px 20px 10px; margin-top: 10px; border-radius: 0px 20px 0px 20px; color:white;">Rp. 27.000</b>
  </div>
</div>

</div>
   
<div class="col-lg-4">
  <div class="card">

    <img
      src="https://images.unsplash.com/photo-1565208565380-02138793c3b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
      class="first-image">
    <div class="card-body">
      <a href="#" style="color:black" onclick="addCart()">
        <center>View More</center>
      </a>
      <hr>


      <h5 style="font-size:18px; text-align:left; margin-left:15px; margin-bottom:10px" class="card-title"><b>NUTRI CARE
          SHAMPOO</b> <B style="background:GREEN; Color:white ;border-radius:10%;padding-left:10px; 
            padding-right:10px; padding-top: 5px; padding-bottom: 5px;">new</B></h5>
      <p style="font-size:12px; text-align:left; margin-left:15px; line-height:18px; margin-bottom:0px">SHAMPOO CATEGORY
      </p>
      <p style="font-size:12px; text-align:left; margin-left:15px; line-height:18px;margin-bottom:0px">
        <span>&#10024;</span>
        <span>&#10024;</span>
        <span>&#10024;</span>
      </p>

      <p style="font-size:12px; text-align:left; margin-left:15px;">STOCK <Br> <B style="background:red;color:white;border-radius:100%;padding-left:10px; 
  padding-right:10px; padding-top: 5px; padding-bottom: 5px;">3</B></p>
      </center>

      <b
        style="background-color: #11E95B; padding: 10px 20px 10px; margin-top: 10px; border-radius: 0px 20px 0px 20px; color:white;">Rp.
        27.000</b>
    </div>
  </div>

</div>

   
<div class="col-lg-4">
  <div class="card">

    <img
      src="https://images.unsplash.com/photo-1565208565380-02138793c3b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
      class="first-image">
    <div class="card-body">
      <a href="#" style="color:black" onclick="addCart()">
        <center>View More</center>
      </a>
      <hr>


      <h5 style="font-size:18px; text-align:left; margin-left:15px; margin-bottom:10px" class="card-title"><b>NUTRI CARE
          SHAMPOO</b> <B style="background:GREEN; Color:white ;border-radius:10%;padding-left:10px; 
            padding-right:10px; padding-top: 5px; padding-bottom: 5px;">new</B></h5>
      <p style="font-size:12px; text-align:left; margin-left:15px; line-height:18px; margin-bottom:0px">SHAMPOO CATEGORY
      </p>
      <p style="font-size:12px; text-align:left; margin-left:15px; line-height:18px;margin-bottom:0px">
        <span>&#10024;</span>
        <span>&#10024;</span>
        <span>&#10024;</span>
      </p>

      <p style="font-size:12px; text-align:left; margin-left:15px;">STOCK <Br> <B style="background:red;color:white;border-radius:100%;padding-left:10px; 
  padding-right:10px; padding-top: 5px; padding-bottom: 5px;">3</B></p>
      </center>

      <b
        style="background-color: #11E95B; padding: 10px 20px 10px; margin-top: 10px; border-radius: 0px 20px 0px 20px; color:white;">Rp.
        27.000</b>
    </div>
  </div>

</div>
  </div>
</div> 

<script>
function wishList(){
    var list = document.getElementById("toast");
  list.classList.add("show");
  list.innerHTML = '<i class="far fa-heart wish"></i> Product added to List';
  setTimeout(function(){
    list.classList.remove("show");
  },3000);
}


function addCart(){
      var cart = document.getElementById("toast-cart");
  cart.classList.add("show");
  cart.innerHTML = '<i class="fas fa-shopping-cart cart"></i> Product added to cart';
  setTimeout(function(){
    cart.classList.remove("show");
  }, 3000);
}
</script>

				</div>
				
</div>	
			</div> 
	   </section>
        <!-- Gallery Area End -->
    </main>
    <footer>
        <!--? Footer Start-->
        <div class="footer-area section-bg" data-background="/assets/img/gallery/footer_bg.png">
            <div class="container">
                <div class="footer-top footer-padding">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="/assets/img/logo/logo2_footer.png" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p class="info1">Receive updates and latest news direct from Simply enter.</p>
                                    </div>
                                </div>
                                <div class="footer-number">
                                    <h4><span>+564 </span>7885 3222</h4>
                                    <p>youremail@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Location </h4>
                                    <ul>
                                        <li><a href="#">Advanced</a></li>
                                        <li><a href="#"> Management</a></li>
                                        <li><a href="#">Corporate</a></li>
                                        <li><a href="#">Customer</a></li>
                                        <li><a href="#">Information</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Explore</h4>
                                    <ul>
                                        <li><a href="#">Cookies</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Proparties</a></li>
                                        <li><a href="#">Licenses</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Location</h4>
                                    <div class="footer-pera">
                                        <p class="info1">Subscribe now to get daily updates</p>
                                    </div>
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative mail_part" novalidate="true">
                                            <input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address " class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">Send</button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="/assets/js/vendor/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/animated.headline.js"></script>
    <script src="/assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="/assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/jquery.sticky.js"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/jquery.countdown.min.js"></script>
    <script src="/assets/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="/assets/js/contact.js"></script>
    <script src="/assets/js/jquery.form.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/mail-script.js"></script>
    <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>
    
    </body>
</html>